.links ol li > ol {
    visibility: hidden;
}
.links ol li:hover > ol , .links ol li:focus-within > ol{
    visibility: visible;
}
.links ol li > ol > li {
    clear: both;
}
.content {
    overflow-x: scroll;
}
.content p {
    text-align: justify;
}

body {
    font-family: sans-serif;
    margin: 0em;
    grip-gap: 1rem;
    display: flex;
    flex-flow: column;
}


h1,h2, h3, h4, h5, h6 {
    scroll-margin-top: 5em;
}

pre {
    white-space: pre-wrap !important;
    padding: 1em;
    width: 100%;
    overflow-x: scroll;
}


.breadcrumb a {
    font-size: small;
}


.breadcrumb ol {
    display: flex;
    margin: 5px;
}

.breadcrumb li:after {
    margin: 0.3em;
}

.breadcrumb li:first-child:before {
    margin: 0.3em;
}

.main {
    display: flex;
    overflow-x: auto;
}

.links ol li > ol {
    display: block;
    position: absolute;
    top: 4rem;
    padding-left: 0;
}

.links ol li > ol > li {
    width: 100%;
    display: block;
}

.content {
    margin: 1em;
    grid-area: main;
}

.toc {
    min-height: 100vh;
}
.toc a {
    font-size: small;
}
.toc li {
    border-left: 2px;
    padding-left: 3px;
    margin-bottom: 6px;
}
.toc ol {
    padding: 0.9em;
}




::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background-color: lightcoral;
  border-radius: 10px;
}