@media (min-width: 1000px) {
    .header .title {
        font-size: 3em;
        font-weight: bold;
        padding-left: 0.2em;
        display: block;
    }
    .header .subtitle {
        font-size: 1em;
        padding-left: 2em;
    }
    .header {
        border-bottom-width: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .links {
        display: flex;
        justify-content: flex-end;
        overflow-x: scroll;
    }
    .links ol {
        display: flex;
        justify-content: flex-end;
    }
    .links li {
        padding: 1em;
        display: flex;
        align-items: center;
        flex-flow: column;
    }
}
