body {
    font-family: sans-serif;
}
code {
    color: chocolate;
}
a.external::after {
    content: '\20\27a1';
}
.header {
    background-color: #1b1a1a;
    position: sticky;
    top: 0px;
    border-bottom-color: lightcoral;
    border-bottom-style: solid;
}
.header a {
    text-decoration: none;
}
.header .title {
    font-family: sans-serif;
    color: white;
    white-space: nowrap
}
.header .subtitle {
    font-family: sans-serif;
    color: white;
    white-space: nowrap
}
.breadcrumb {
    background: #101010;
}
.breadcrumb a {
    text-decoration: none;
    text-transform: capitalize;
    color: gray;
}
.breadcrumb a.internal {
    color: white;
}
.breadcrumb a.internal:hover {
    color: lightcoral;
}
.breadcrumb li {
    list-style: none;
}
.breadcrumb li:after {
    content:'\3E';
    color: white;
    font-weight: bolder;
}
.breadcrumb li:first-child:before {
    content: '\2302';
    color: white;
    font-weight: bolder;
}
.breadcrumb li:last-child:after {
    content: none;
}
.links {
    border-top: 0px solid lightcoral;
}
.links li a {
    color: white;
    text-transform: uppercase;
    white-space: nowrap
}
.links li a.external::after {
    content: '';
}
.links li a:hover {
    color: lightcoral;
}
.links li.selected {
    background-color: lightcoral;
}
.links ol li > ol > li {
    background: #1b1a1a;
}

.toc {
    background-color: #1b1a1a;
    color: white;
}
.toc a {
    text-transform: uppercase;
    color: #d4d4d4;
    text-decoration: none;
}
.toc a:hover {
    color: lightcoral;
}
.toc ol ol a {
    text-transform: none;
}
.toc li {
    list-style: none;
    border-left: solid lightcoral;
}
